.icon-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    color: inherit;

    &:hover,
    &.toggle.toggled {
        color: var(--active);
    }
}
